{{ "<!-- page title -->" | safeHTML }}


  <!-- this image is for trigger this section fallback background image -->

  {{ $Image := false }}

  {{ if .Param "bg_image" }}
    {{ $Image = fileExists (add `static/images/backgrounds/` .Params.Bg_image) }}
  {{ end }}

  {{ if $Image }}
    <section class="section bg-cover overlay" style="background-image: url('/images/backgrounds/{{ .Params.Bg_image  }}');">
    <img class="d-none" src="/images/backgrounds/{{ .Params.Bg_image  }}">
  {{ else }}
    <section class="section bg-cover overlay" style="background-image: url('/images/backgrounds/page-title.jpg');">
    <img class="d-none" src="/images/backgrounds/page-title.jpg">
  {{ end }}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white mb-3">{{ .Title }}</h2>
        {{ "<!-- breadcrumb -->" | safeHTML }}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item font-weight-semebold"><a class="text-white" href="{{ site.BaseURL | relLangURL }}">{{ site.Params.home }}</a></li>
            <li class="breadcrumb-item font-weight-semebold active text-primary" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /page title -->" | safeHTML }}
