{{ "<!-- service -->" | safeHTML }}
{{$show_item:= .Params.service.show_item}}
{{ with site.GetPage (string .Params.service.section) }}
<section class="bg-gray-white">
  <div class="section bg-secondary section-bottom-lg">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title-border border-center"></div>
          <h4 class="section-title-sm">{{ .Params.subtitle | markdownify }}</h4>
          <h2 class="section-title text-white">{{ .Title | markdownify }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="service-wrapper">
    <div class="container">
      <div class="row">
        {{ range first ($show_item | default 3) .Data.Pages }}
        {{ "<!-- service-item -->" | safeHTML }}
        <div class="col-lg-4 col-sm-6 mb-4">
          {{ .Render "service" }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ "<!-- /service -->" | safeHTML }}