{{ "<!-- team -->" | safeHTML }}
{{$show_item:= .Params.team.show_item}}
{{ with site.GetPage (string .Params.team.section) }}
<section class="section pt-0 bg-gray-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title-border border-center"></div>
        <h4 class="section-title-sm">{{ .Params.subtitle | markdownify }}</h4>
        <h2 class="section-title">{{ .Params.title | markdownify }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range first ($show_item | default 3) .Data.Pages }}
      {{ "<!-- team member -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "team-card" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
{{ "<!-- /team -->" | safeHTML }}