  <div class="container">
    <div class="row">
      {{ "<!-- Addresses -->" | safeHTML }}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-map-marker-alt text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "address" }}</h4>
          <p>{{ site.Params.address | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-phone text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "phone" }}</h4>
          <p>{{ site.Params.mobile | markdownify }}<br><br>&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-envelope text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "email" }}</h4>
          <p>{{ site.Params.email | markdownify }}<br><br>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
