<div class="card border-0 rounded-0 position-relative box-shadow h-100">
  {{ $Image := or (fileExists (add `static/` (string (.Params.Image_webp)))) (fileExists (add `static/images/news/` (string (.Params.Image)))) }}
  {{ if $Image }}
  {{ with .Params.Categories }}{{range first 1 .}} <div class="card-type">{{ . | title }}</div>{{ end }}{{ end }}
  <a href="{{ .Permalink }}" >
    <img
      loading="lazy"
      class="card-img-top rounded-0"
      src="/images/news/{{ .Params.Image }}"
      onerror="this.onerror=null;this.src='{{.Params.Image | absURL }}'"
      style="
             object-fit: cover;
             object-position: center;
             min-height: 250px;
             max-height: 250px;
             "
      alt="{{ .Title }}"/>
  </a>
  {{ end }}
  <div class="card-body">
    {{ if not $Image }}
    {{ with .Params.Categories }}{{range first 1 .}} <div class="card-type position-static d-inline-block mb-3">{{ . | title }}</div>{{ end }}{{ end }}
    {{ end }}
    <div class="card-meta text-uppercase mb-2">on
      <strong class="text-dark">{{ .PublishDate.Format "2 Jan 2006" }}</strong></div>
    <h4 class="card-title"><a class="text-dark" href="{{ .Permalink }}" aria-label="{{.Title}}">{{ .Title }}</a></h4>
    <div class="section-title-border"></div>
    <p class="card-text">{{ .Summary }}</p>
  </div>
</div>
