<div class="card border-0 rounded-0 box-shadow">
  {{ $Image := or (fileExists (add `static/` (string (.Params.Image_webp)))) (fileExists (add `static/images/service/` (string (.Params.Image)))) }}
  {{ if $Image }}
  <img loading="lazy" class="card-img-top rounded-0" src="/images/service/{{ .Params.Image }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'" alt="{{ .Title }}">
  {{ end }}
  <div class="card-body position-relative">
    {{ with .Params.Icon}}<div class="card-icon {{if not $Image}}position-static mb-4{{end}}"><i class="{{. }}"></i></div>{{ end }}
    <h4 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" class="btn btn-secondary btn-arrow" aria-label="{{ .Title }}">{{ i18n "read_more" }}</a>
  </div>
</div>
